@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap'); /* isto e ubav */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Patrick Hand', cursive;
}
html {
	font-size: 10px;
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Patrick Hand', cursive;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 2rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #c8ad7f;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #c8ad7f;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #c8ad7f;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: #c8ad7f;
}
.brand a, .brand a:hover {
	text-decoration: none;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #c8ad7f;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(./img/bigger-down.jpg);
	background-size: cover;
	background-position: 0px -75px;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #c8ad7f;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */


.hero-container {
	height: 100vh;
	/* min-height: 100vh; */
	/* width: 100%; */
	display: flex;
	align-items: center;
	justify-content: left;
  }
  .hero-container #title {
	font-size: 60px;
	padding: 1.5rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
	overflow: hidden;
	color: white;
	line-height: 1 !important;
	margin-top: 25%;
  }
  .hero-container p span.typed-text {
	font-weight: normal;
	color: white;
  }
  .hero-container p span.cursor {
	display: inline-block;
	background-color: #ccc;
	margin-left: 0.1rem;
	width: 3px;
	animation: blink 1s infinite;
  }
  .hero-container p span.cursor.typing {
	animation: none;
  }
  /* @keyframes blink {
	0%  { background-color: #ccc; }
	49% { background-color: #ccc; }
	50% { background-color: transparent; }
	99% { background-color: transparent; }
	100%  { background-color: #ccc; }
  } */
  

/* Services Section */
/* activism, */
#services, #contact {	
	background: linear-gradient(270deg, rgba(200,173,127,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}
 
#activism {
	background-image: url(./img/test5.jpg);
	background-size: contain;
} 

#reviews {
	background: linear-gradient(90deg, rgba(200,173,127,1) 0%, rgba(200,173,127,0.5525560566023284) 55%, rgba(200,173,127,0.8186624991793592) 71%), url('./img/dada.jpg');
	/* background: rgb(200,173,127); */
	background-size: cover;
	background-position: 50% 5%;
}

#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 50px 0;
	justify-content: flex-start;
    min-height: 0 !important;
}
#services .service-top {
	/* max-width: 500px; */
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 10px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: 380px;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#storytelling {
	background-image: url(./img/image-2.jpg);
	background-size: cover;
}
#strategy {
	background-image: url(./img/image-3.jpeg);
	background-size: cover;
}
#copywriting {
	background-image: url(./img/image-1.jpg);
	background-size: cover;
}
#seo {
	background-image: url(./img/image-4.jpg);
	background-size: cover;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2.5rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}
/* End Services Section */

/* Projects section */

.timeline-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
  }
  .timeline-container .div{
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .timeline-container h2{
	  font-weight: bold;
  }

/* #projects, #about {
	background: linear-gradient(90deg, rgba(200,173,127,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
} */
#about {
	background: linear-gradient(90deg, rgba(200,173,127,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

#projects {
	background-image: url(./img/test4.jpg);
	background-size: contain;
	/* background-position: center; */
}

#projects .projects, #activism .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 0;
}
#projects .projects-header h1, #activism .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects, #activism .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item, #activism .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info, #activism .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1, #activism .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2, #activism .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p, #activism .project-info p {
	color: white;
}
#projects .project-img, #activism .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after, #activism .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img, #activism .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img,
#activism .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

.timeline {
	position: relative;
	margin: 10px auto;
	padding: 40px 0;
	box-sizing: border-box;
  }
  .timeline:before {
	content: "";
	position: absolute;
	left: 50%;
	width: 2px;
	height: 100%;
	background: #c5c5c5;
  }
  .timeline ul {
	margin: 0;
	padding: 0;
  }
  .timeline ul li {
	list-style: none;
	position: relative;
	width: 50%;
	padding: 20px 40px;
	box-sizing: border-box;
  }
  .timeline ul li:nth-child(odd) {
	float: left;
	text-align: right;
	clear: both;
  }
  .timeline ul li:nth-child(even) {
	float: right;
	text-align: left;
	clear: both;
  }
  .content {
	padding-bottom: 20px;
  }
  .content p {
	font-size: 20px;
	line-height: 24px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
  }
  .content h2 {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
  }
  .timeline ul li:nth-child(odd):before {
	content: "";
	position: absolute;
	top: 24px;
	right: -6px;
	width: 10px;
	height: 10px;
	background: #c8ad7f;;
	border-radius: 50%;
	box-shadow: 0 0 0 3px #5f6062;
  }
  .timeline ul li:nth-child(even):before {
	content: "";
	position: absolute;
	top: 24px;
	left: -4px;
	width: 10px;
	height: 10px;
	background: #c8ad7f;;
	border-radius: 50%;
	box-shadow: 0 0 0 3px #5f6062;
  }
  .timeline ul li h3 {
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #5f6062;
  }
  .timeline ul li p {
	margin: 10px 0 0;
	padding: 0;
  }
  .timeline ul li p a {
	font-weight: bold;
	color: black;
  }
  .timeline ul li .time div {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
  }
  .timeline ul li:nth-child(odd) .time {
	position: absolute;
	top: 12px;
	right: -200px;
    background: #3D4955;
    color: white;
	margin: 0;
	padding: 8px 16px;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(95, 96, 98, 0.3);
  }
  .timeline ul li:nth-child(even) .time {
	position: absolute;
	top: 12px;
	left: -215px;
	margin: 0;
	padding: 8px 16px;
    background: #3D4955;
    color: white;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(95, 96, 98, 0.3);
  }
/* About Section */
#reviews .reviews {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	min-height: 0 !important;
    padding-top: 60px;
	margin-right: 50%;
}
.reviews-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
}

.reviews-container h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
    /* font-family: 'Montserrat', sans-serif; */
	font-family: 'Patrick Hand', cursive;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
.reviews-container h2::after {
	content: "";
	width: 140px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #db584e;
	left: 0;
	right: 0;
	bottom: -10px;
    opacity: .8;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 30px auto;
    padding: 0px 50px;
}
.carousel-item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
	line-height: 1.8;
}
.carousel .overview a {
	color: black;
	font-weight: bold;
}
.carousel .overview a:hover {
	color: black;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/* End Reviews Section */

/* Activism section */

.civic-initiative-container {
	display: flex;
	padding-top: 0;
    margin: 0;
	padding-bottom: 30px;
	align-items: center;
  }
  .civic-initiative-text {
	text-align: end;
    margin-left: 10rem;
    width: 40%;
  }
  .civic-initiative-text h3 {
	margin-bottom: 10px;
	display: inline-block;
  }
  .civic-initiative-image {
	width: 30%;
	margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
  }
  .civic-initiative-image img {
	max-width: 300px;
	max-height: 300px;
	display: inline-block;
	margin-left: 50px;
  }
  .civic-initiative-image label {
	display: inline-block;
  }
  .youtube {
	font-size: 30px;
	padding-left: 50px;
  }
  .youtube a:hover {
	background: none;
  }
  .youtube i {
	color: red;
	font-size: 50px;
  }

/* End activism section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1300px;
	margin: 0 auto;
	padding: 30px 0;
	min-height: 0 !important;
}
#about .col-left {
	width: 250px;
	height: 360px;
	display: flex;
    align-items: center;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	/* height: 100%; */
	width: 100%;
	position: relative;
	/* border: 10px solid white; */
}
/* #about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #c8ad7f;
	z-index: -1;
} */
#about span {
	font-weight: bold;
}
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
	min-height: 0 !important;
	padding: 30px 0;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
.social-menu ul {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	padding: 0;
	margin: 0;
	display: flex;
  }
  .social-menu ul li {
	list-style: none;
	margin: 0 10px;
  }
  .social-menu ul li .fab,
  .social-menu ul li .fas {
	color: #000000;
	font-size: 25px;
	line-height: 50px;
	transition: 0.5s;
  }
  .social-menu ul li .fab:hover,
  .social-menu ul li .fas:hover {
	color: #ffffff;
  }
  .social-menu ul li a {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	transition: 0.5s;
	transform: translate(0, 0px);
	box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  }
  .social-menu ul li a img {
	margin: 0 auto;
	width: 38px;
	height: 42px;
	padding-top: 5px;
  }
  .social-menu ul li a:hover {
	transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  .social-menu ul li:nth-child(1) a:hover {
	background-color: #017CB7;
  }
  .social-menu ul li:nth-child(2) a:hover {
	background-color: #d44638;
  }
  .social-menu ul li:nth-child(3) a:hover {
	background-color: #000;
  }
  .social-menu ul li:nth-child(4) a:hover {
	background-color: #70DA44;
  }
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 50px;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img, #footer .social-item i {
	filter: drop-shadow(2px 4px 6px black);
	transition: 0.3s ease filter;
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
/* @keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
} */
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #c8ad7f;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	/* #projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	} */
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #c8ad7f;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */

	#contact .contact {
		flex-direction: column;
		padding: 45px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
		min-height: 0 !important;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 50%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: center;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	.header {
		max-width: 2000px !important;
	}

	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */


@media (max-width: 1000px) {
	.timeline {
	  width: 100% !important;
	}
	p,
	h2 {
	  font-size: 18px;
	}
	.profile-image-container img {
	  max-width: 150px;
	  max-height: 150px;
	}
	.erasmus-timeline > h2 {
	  padding-left: 18px;
	}
  }
  @media (max-width: 952px) {
	.about-me-style {
	  flex-direction: column;
	}
	label.logo {
	  font-size: 30px;
	  padding-left: 30px;
	}
	nav ul li a {
	  font-size: 16px;
	}
	.timeline-area {
	  word-break: break-word;
	}
	.text-part {
	  width: 100%;
	}
	.civic-initiative-container {
	  flex-direction: column;
	}
	.civic-initiative-text {
	  width: 100%;
	}
	.civic-initiative-image {
	  padding-top: 20px;
	  width: 100%;
	}
  }
  @media (max-width: 858px) {
	.checkbtn {
	  display: block;
	  margin-right: 35px;
	}
	nav ul {
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  background: #5f6062;
	  top: 80px;
	  left: -100%;
	  text-align: center;
	  transition: all 0.5s;
	}
	nav ul li {
	  display: block;
	  margin: 50px 0;
	  line-height: 30px;
	}
	nav ul li a {
	  font-size: 20px;
	}
	a:hover,
	a.active {
	  background: none;
	  color: #28262c;
	}
	#check:checked ~ ul {
	  left: 0;
	}
  }
  @media screen and (min-width: 768px) and (max-width: 954px) {
	#hero {
		background-position: bottom;
	}
	#header .header {
		margin: 0;
	}
	.text-part h1 {
	  padding-left: 20px;
	}
	.fullName {
	  margin-top: 45% !important;
	}
  }
  @media (max-width: 767px) {
	#hero {
		background-position: bottom;
	}
	#header .header {
		margin: 0;
	}
	#university {
		margin: 0 !important;
	}
	#about .col-right p {
		padding: 0 20px;
	}
	#about .col-left {
		height: auto;
	}
	#reviews {
		height: auto;
		min-height: 100vh;
	}
	.civic-initiative-text {
		text-align: center;
	}
	.profile-image-container {
	  margin: 0;
	}
	.about-me-area h1 {
	  padding: 0;
	}
	h1 {
	  font-size: 35px !important;
	  padding: 0 20px;
	}
	.intro-subtitle {
	  font-size: 28px !important;
	}
	.timeline {
	  width: 100% !important;
	  padding-bottom: 0;
	}
	.timeline:before {
	  left: 20px !important;
	}
	.timeline li:nth-child(odd),
	.timeline li:nth-child(even) {
	  width: 100% !important;
	  text-align: left !important;
	  padding-left: 50px !important;
	  padding-bottom: 50px;
	}
	.timeline li:nth-child(odd):before,
	.timeline li:nth-child(even):before {
	  top: -18px !important;
	  left: 16px !important;
	}
	.timeline li:nth-child(odd) .time,
	.timeline li:nth-child(even) .time {
	  top: -30px !important;
	  left: 50px !important;
	  right: inherit !important;
	}
	.fullName {
	  margin-top: 30% !important;
	}
  }
  @media screen and (min-width: 377px) and (max-width: 420px) {
	.banner-area {
	  max-width: 600px;
	}
	.civic-initiative-text {
	  width: 90%;
	  margin: 0 auto;
	}
	.civic-initiative-image img,
	.civic-initiative-image .youtube {
	  margin: 0;
	  padding: 0 !important;
	}
	.fullName {
	  margin-top: 60% !important;
	}
  }
  @media (max-width: 376px) {
	#hero {
		background-size: auto;
	}
	.civic-initiative-text {
	  width: 90%;
	  margin: 0 auto;
	}
	.civic-initiative-image img,
	.civic-initiative-image .youtube {
	  margin: 0;
	  padding: 0 !important;
	}
	.fullName {
	  margin-top: 60% !important;
	}
  }
  @media (max-width: 361px) {
	.civic-initiative-text {
	  width: 90%;
	  margin: 0 auto;
	}
	.civic-initiative-image img,
	.civic-initiative-image .youtube {
	  margin: 0;
	  padding: 0 !important;
	}
  }
  
